@import url(/fonts/pressstart2p/css.css);
@import url(/fonts/vt323/css.css);

html {
    background-image: url("/images/background.gif");
}

body {
    background-color: rgba(0,0,0,0.97);
    color: rgba(255,255,255,0.7);
    padding: 5px;
    margin: 1.9em auto;
    width: 80%;
    border: 1px dashed rgba(255,255,255,0.7);
    font-family: "VT323", monospace;
}

p {
    font-size: 20px;
    color: #00FF66;
}

ul {
    font-size: 18px;
}

header, nav {
    text-align: center;
}

header, nav, main, footer {
    margin: 15px;
    border-bottom: 1px dashed rgba(255,255,255,0.5);
}

nav ul {
    display: block;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    line-height: 26px;
}

nav ul li {
    display: inline;
    padding-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

nav ul li a:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #DDDDDD;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

pre {
    font-family: monospace;
}

code, code a {
    font-family: "VT323", monospace;
    color: #444444;
    font-weight: normal;
}

p code {
    color: orangered;
}

.highlighter-rouge {
    color: rgba(255,255,255,0.4);
}

.highlight {
    color: rgba(255,255,255,0.7);
}

.highlight {
    border: 1px dashed rgba(255,255,255,0.3);
    padding: 15px;
    background-color: #0D0D0D;
}

main {
    margin: 15px 22px 15px 22px;
}

main header {
    text-align: center;
    padding-bottom: 15px;
    border: 0;
}

main iframe {
    width: 80%;
    margin-left: 10%;
    border: 1px dashed rgba(255,255,255,0.5);
}

footer {
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
}

.ascii {
    color: rgba(255,255,255,1);
    font-weight: bold;
}

.logo {
    font-family: monospace;
}

.small-avatar {
    display: none;
}

.site-name, #cursor {
    font-family: "Dejavu Sans Mono", "Courier New", "Roboto Mono", monospace;
}

.site-name {
    font-size: 13px;
}

@media only screen and (max-width: 820px) {
    .large-avatar {
        display: none;
    }
    
    .small-avatar {
        display: block;
        font-size: 10px;
    }
    
    .site-name {
        font-size: 8px;
    }
}

@media only screen and (max-width: 620px) {
    .small-avatar {
        font-size: 7px;
    }
}


@media only screen and (max-width: 420px) {
    .site-name {
        font-size: 7px;
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 410px) {
    .small-avatar {
        font-size: 6px;
    }
    
    .site-name {
        font-size: 6px;
        margin-bottom: 3em;
    }
}
