<p style="visibility:hidden;text-align:center;color:red" id="cursor">404 NOT FOUND</p>
<p style="margin-bottom:0.6em;">Insult. Deletion Of Unwanted File.</p>
<style>
p {
color: #00FF66;
margin-block-end: 0.1em;
margin-block-start: 0.1em;
margin-top: -0.5em;
}
#cursor {
font-size: 38px;
margin: 0.79em auto;
font-family: "VT323";
}
</style>
<script>
    var i = 0;
    window.setInterval(function(){
        StopSound("alarm");
        PlaySound("alarm");
        document.getElementById("cursor").style.visibility=(i++&1)?"hidden":"visible";
    },2800);
</script>
<audio src="/audio/page/404.ogg" autoplay></audio>
<audio id="alarm" src="/audio/alarm/alarm1.ogg"></audio>
